[submodule "wordler/src"]
	path = services/wordler/src
	url = git@github.com:daduraro/wordle-helper.git
[submodule "spliit/spliit"]
	path = services/spliit/spliit/spliit
	url = https://github.com/spliit-app/spliit.git
